@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Lobster&display=swap');

body{
    background: linear-gradient(#ff0b33b7, #f5e3e6);
}

li{
    font-family: Lobster;
    
}

h1{
    font-family: Concert One;
    font-size: 100px;
}